*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li{
    list-style: none;
}

body{
    display: flex;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}

.side-icons{
    display: flex;
    flex-direction: column;
    background-color: #1D1F1F;
    width: 5%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

.icons-top {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
   gap: 20px;
}

.icons-top img{
    width: 35px;
    height: 35px;
}

.icons-bottom{
    display:flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
}

.icons-bottom img{
    width: 35px;
    height: 35px;
}

.main-section{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161717;
}

.main-section header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
}

.main-section h1{
    margin-left: 40px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.header-icons{
    display: flex;
    gap: 20px;
}

.header-icons img{
    width: 35px;
    height: 35px;
}

.search-input{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 120px;
}

.search-input input{
    width: 90%;
    height: 40px;
    border-radius: 40px;
    background-color: #2E2F2F;
    background-image: url(./img/material-symbols_search-rounded.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    text-align: center;
    font-size: 24px;
    color: #ABACAC;
    margin-left: 40px;
}

.botoes {
    display: flex;
    width: 85%;
    height: 60px;
    gap: 20px;
    align-items: center;
    justify-content: left;
    color: #ABACAC;
    font-size: x-large;
}

.botoes ul{
    display: flex;
    font-size: 12px;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: #ABACAC;
    gap: 40px;
}

.botoes li{
    background-color: #103529;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    border: 1px solid #2E2F2F;
    border-radius: 20px;
    font-size: 16px;
}

.side-section{
    width: 60%;
    display: flex;
    background-size: cover;
}

.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contato{
    width: 85%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contato img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.contato h3{
    color: white;
}

.contato p{
    color: #ABACAC;
    font-size: small;
}

.side-section img{
    width: 100%;
    height: auto;
}