*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul,
ol,
li{
    list-style: none;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100dvh;
    font-family: Arial, Helvetica, sans-serif;
}

.side-icons{
    display: flex;
    flex-direction: column;
    background-color: #1D1F1F;
    width: 5%;
    height: 100%;
    align-items: center;
    gap: 1250px;
}

.icons-top {
    margin-top: 30px;
    display:flex;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
   gap: 20px;
}

.icons-bottom{
    display:flex;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-section{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161717;
}

.main-section header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    
}

.main-section h1{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

.header-icons{
    display: flex;
    gap: 20px;
}

.header-icons img{
    width: 35px;
    height: 35px;
}

.search-input input{
    width: 600px;
    height: 40px;
    border-radius: 20px;
    background-color: #2E2F2F;
    background-image: url(./img/material-symbols_search-rounded.svg);
    background-repeat: no-repeat;
    text-align: center;
    color: #ABACAC;
}

.botoes {
    display: flex;
    width: 100%;
    height: 60px;
    gap: 20px;
    align-items: center;
    justify-content: left;
    color: #ABACAC;
    font-size: x-large;
}

.botoes ul{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: left;
    align-items: center;
    border: #ABACAC;
    gap: 40px;
    margin-left: 40px;

}

.botoes li{
    width: 50px;
    height: 50px;
    border: 1px solid #2E2F2F;
    border-radius: 10px;
}

.side-section{
    width: 60%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
}

.side-section img{
    width: 100%;
}